$primary-color: #ff4365;
$secondary-color: #030301;
$tertiary-color: #00d9c0;
$quaternary-color: #fffff3;
$font-base-size: 16px;
$font-family: "Open Sans", sans-serif;
$box-shadow: rgba(0, 0, 0, 0.25);
