@import "_variables";

html {
  font-size: $font-base-size;
  background-color: $quaternary-color;
}

body {
}

h1, h4 {
  color: $primary-color;
}

h2, h5 {
  color: $secondary-color;
}

h3, h6 {
  color: $tertiary-color;
}

p {
  color: $primary-color;
}

a {
  text-decoration: none;
  &:focus {
    text-decoration: underline;
  }
  &:visited {
    text-decoration: underline;
    color: $tertiary-color;
  }
}

input, textarea {
  border-color: $primary-color;
  color: $primary-color;
  font-weight: bold;
  font-size: $font-base-size;
  background-color: transparentize($primary-color, 0.50);
  outline: none;
  &[type="text"] {
    height: 2rem;
  }
  &[type="button"] {
    height: 2rem;
    width: 8rem;
  }
  &[type="password"] {
    height: 2rem;
  }
  &[type="checkbox"] {
  }
  &[type="radio"] {
  }
}

textarea {
  padding: 0.5rem;
  height: 20rem;
  width: 50rem;
}

label {
  font-style: italic;
}

figure {
  display: inline-block;
}

figcaption {
  font-style: italic;
  text-align: center;
}

table {
  margin: 40px 0;
  height: 10rem;
  width: 50rem;
  border: 1px solid $secondary-color;
  border-collapse: collapse;
  background-color: white;
  thead {
    background-color: $tertiary-color;
    tr {
      th {
        height: 2rem;
      }
    }
  }
  tbody{
    tr {
      text-align: center;
      background-color: transparentize($tertiary-color, 0.8);
      td {
        color: $primary-color;
      }
    }
  }
}

img,
input,
textarea {
  border-radius: 20px;
}
